@{
    ViewBag.Title = "Index";
}

<section id="banner">
    <div class="slider" id="homeSlider">
        <div>
            <div class="slider-img" style="background-image:url(@Url.Content("~/images/hp1-slider-2.jpg")">
            </div>
        </div>
        <div>
            <div class="slider-img" style="background-image:url(@Url.Content("~/images/hp1-slider-1.jpg")">
            </div>
        </div>
       

    </div>
</section>

<section id="TabStructure" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Project</h1>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="false">Current</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="project-wrap">
                        <div class="project-box d-flex justify-content-between flex-wrap">
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/port4.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image4.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image7.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image1.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image5.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image6.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">
                    <div class="project-wrap">
                        <div class="project-box d-flex justify-content-between flex-wrap">
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/port4.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image4.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image7.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                    <div class="project-wrap">
                        <div class="project-box d-flex justify-content-between flex-wrap">
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image1.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image5.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                            <div class="pbox  p-3">
                                <div class="p-image">
                                    <img src="~/images/image6.jpg" />
                                </div>
                                <div class="p-name">
                                    <h4 class="text-center">Seaburry hall created</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Portfolio</h1>
        </div>
        <div class="gallery">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="port imghvr-flip-vert">
                        <img src="~/images/port1.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port13.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port10.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="port">
                        <img src="~/images/port4.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port7.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port2.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="port">
                        <img src="~/images/port5.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port8.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port11.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="port">
                        <img src="~/images/port6.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                            @*<div class="icon">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </div>*@
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port9.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                    <div class="port">
                        <img src="~/images/port3.jpg" />
                        <div class="img-text ">
                            <a href="#">Seabary Hall Creative</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partner" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Our Team</h1>
        </div>
        <div class="our-partner d-flex justify-content-between slider">
           
           <div>
               <div class="partner-box">
                   <div class="p-img">
                       <img src="~/images/agent-1.jpg" />
                   </div>
                   <div class="p-info text-center">
                       <h4 class="name">Scott Goodwin</h4>
                       <h6><i class="fa fa-phone" aria-hidden="true"></i> (123) 456-7890</h6>
                       
                           <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agent1">More Details</a>                                           
                   </div>
               </div>
           </div>
            <div>
                <div class="partner-box">
                    <div class="p-img">
                        <img src="~/images/agent-2.jpg" />
                    </div>
                    <div class="p-info text-center">
                        <h4 class="name">Scott Goodwin</h4>
                        <h6><i class="fa fa-phone" aria-hidden="true"></i> (123) 456-7890</h6>
                        <div class="more-detail">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agent2">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
           <div>
               <div class="partner-box">
                   <div class="p-img">
                       <img src="~/images/agent-1.jpg" />
                   </div>
                   <div class="p-info text-center">
                       <h4 class="name">Scott Goodwin</h4>
                       <h6><i class="fa fa-phone" aria-hidden="true"></i> (123) 456-7890</h6>
                       <div class="more-detail">
                           <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agent3">More Details</a>
                       </div>
                   </div>
               </div>
           </div>
            <div>
                <div class="partner-box">
                    <div class="p-img">
                        <img src="~/images/agent-2.jpg" />
                    </div>
                    <div class="p-info text-center">
                        <h4 class="name">Scott Goodwin</h4>
                        <h6><i class="fa fa-phone" aria-hidden="true"></i> (123) 456-7890</h6>
                        <div class="more-detail">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agent4">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="partner-box">
                    <div class="p-img">
                        <img src="~/images/agent-1.jpg" />
                    </div>
                    <div class="p-info text-center">
                        <h4 class="name">Scott Goodwin</h4>
                        <h6><i class="fa fa-phone" aria-hidden="true"></i> (123) 456-7890</h6>
                        <div class="more-detail">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#agent5">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<section id="Services" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Services</h1>
        </div>
        <div class="service-wrap">
            <div class="service-box d-md-flex justify-content-between slider">
                <div class="s-box">
                    <div class="icon">
                        <img src="~/images/checklist.png">
                    </div>
                    <div class="s-info">
                        <h4 class="text-center">Planning</h4>
                        <p>
                            Describes a particular treatment approach and philosophy within the field of architectural conservation
                        </p>
                    </div>
                </div>
                <div class="s-box">
                    <div class="icon">
                        <img src="~/images/repair.png">
                    </div>
                    <div class="s-info">
                        <h4 class="text-center">Restoration</h4>
                        <p>
                            Describes a particular treatment approach and philosophy within the field of architectural conservation
                        </p>
                    </div>
                </div>
                <div class="s-box">
                    <div class="icon">
                        <img src="~/images/home-run.png">
                    </div>
                    <div class="s-info">
                        <h4 class="text-center">Planning</h4>
                        <p>
                            Describes a particular treatment approach and philosophy within the field of architectural conservation
                        </p>
                    </div>
                </div>
                <div class="s-box">
                    <div class="icon">
                        <img src="~/images/chat.png">
                    </div>
                    <div class="s-info">
                        <h4 class="text-center">Consultation</h4>
                        <p>
                            Describes a particular treatment approach and philosophy within the field of architectural conservation
                        </p>
                    </div>
                </div>
                <div class="s-box">
                    <div class="icon">
                        <img src="~/images/chair.png">
                    </div>
                    <div class="s-info">
                        <h4 class="text-center">Planning</h4>
                        <p>
                            Describes a particular treatment approach and philosophy within the field of architectural conservation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="datacounter" class="block" style="background-image: url(@Url.Content("~/images/bk-freeze-ga.jpg"));">
    <div class="container">
        <div class=" row d-flex justify-content-between">
            <div class="counter col-lg-4  p-3 text-center">
                <div class="counters">
                    <span class="timer" data-from="400" data-to="2020" data-speed="2000">2020</span>
                </div>
                <h3 class="text-white top20">Since We Started</h3>
            </div>
            <div class="col-lg-4  text-center ">
                <div class="title1 text-white align-items-center top20 font-light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit.</p>
                </div>
            </div>
            <div class="col-lg-4  text-center p-3 ">
                <div class="counters">
                    <span class="timer font-light" data-from="100" data-to="895" data-speed="2000">895</span>
                </div>
                <h3 class="text-white">Since We Started</h3>
            </div>
        </div>
    </div>

</section>
<section id="blog" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Blog</h1>
        </div>
        <div class="blog-wrap d-md-flex justify-content-between wow zoomIn">
            <div class="b-box card">
                <div class="card-img-top">
                    <img src="~/images/image6.jpg" />
                </div>
                <div class="card-body">
                    <div class="card-subtitle"><p class="text-muted">AGENCY, CONFERRENCE, NEWS</p></div>
                    <div class="card-title"><h5>Tristique Inceptos Tellus</h5></div>
                    <p class="text-justify text-muted">Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget..</p>
                    <div class="blog-info">
                        <span>06 Nov 2020, </span>
                        <span>Comment: 01</span>
                    </div>
                </div>
            </div>
            <div class="b-box card">
                <div class="card-img-top">
                    <img src="~/images/image5.jpg" />
                </div>
                <div class="card-body">
                    <div class="card-subtitle"><p class="text-muted">AGENCY, CONFERRENCE, NEWS</p></div>
                    <div class="card-title"><h5>This is Just a Single Post</h5></div>
                    <p class="text-justify text-muted">Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget..</p>
                    <div class="blog-info">
                        <span>06 Nov 2020, </span>
                        <span>Comment: 01</span>
                    </div>
                </div>
            </div>
            <div class="b-box card">
                <div class="card-img-top">
                    <img src="~/images/image4.jpg" />
                </div>
                <div class="card-body">
                    <div class="card-subtitle"><p class="text-muted">AGENCY, CONFERRENCE, NEWS</p></div>
                    <div class="card-title"><h5>Tristique Inceptos Tellus</h5></div>
                    <p class="text-justify text-muted">Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget..</p>
                    <div class="card-bottom">
                        <div class="blog-info">
                            <span>06 Nov 2020, </span>
                            <span>Comment: 01</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-form" class="block">
    <div class="container">
        <div class="section-heading ">
            <h1 class="text-center">Contact Us</h1>
        </div>
        <div class="contact row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Contact No</label>
                        <input class="form-control" type="number" placeholder="contact no">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <input class="form-control" type="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Message</label>
                        <textarea class="form-control" type="email" placeholder="Message" rows="4"></textarea>
                    </div>
                    <button class="btn btn-info w-100">Send</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="contactdata wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <h3 class=" subtitle pb-2" >Our London Agency</h3>
                    <div class="add">
                        <p><b>Address:</b> 309, New Cavendish St, EC1Y 3WK</p>
                        <p><b>Contact No:</b> 0800 214 5252</p>
                        <p><b>EMail-Id:</b><a href="mailto:polpo@traxagency.co.au"> polpo@traxagency.com</a></p>
                        <p><b>Office-Time:</b> Mon-Fri: 9am-5pm</p>
                    </div>
                    <div class=" row social-media">
                        <li class="list">
                            <a href="" class="facebook">
                                <i class="fa fa-facebook icon " aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list">
                            <a href="" class="twitter">
                                <i class="fa fa-twitter icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list">
                            <a href="" class="instagram">
                                <i class="fa fa-instagram icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list">
                            <a href="" class="linkedin">
                                <i class="fa fa-linkedin icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list">
                            <a href="" class="whatsapp">
                                <i class="fa fa-whatsapp icon" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list">
                            <a href="" class="envelope">
                                <i class="fa fa-envelope-o icon" aria-hidden="true"></i>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="gmap">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.0766026099764!2d72.84321631473165!3d19.191856287021512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6be13a2ab05%3A0xb3f4c140befddcce!2sSej%20Plaza!5e0!3m2!1sen!2sin!4v1586256057504!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>



<div class="modal fade" id="agent1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scott Goodwin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="details">
                    <h5>Job Profile:</h5>
                    <p>Developer</p>
                    <h5>Job Description:</h5>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agent2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scott Goodwin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="details">
                    <h5>Job Profile:</h5>
                    <p>Developer</p>
                    <h5>Job Description:</h5>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agent3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scott Goodwin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="details">
                    <h5>Job Profile:</h5>
                    <p>Developer</p>
                    <h5>Job Description:</h5>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agent4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scott Goodwin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="details">
                    <h5>Job Profile:</h5>
                    <p>Developer</p>
                    <h5>Job Description:</h5>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agent5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Scott Goodwin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="details">
                    <h5>Job Profile:</h5>
                    <p>Developer</p>
                    <h5>Job Description:</h5>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                    <p>Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.</p>
                </div>
            </div>
        </div>
    </div>
</div>